.env
SELENOID_LOGIN=login
SELENOID_PASSWORD=password
SELENOID_URL=selenoid.url

 .env.mobile.browserstack
 REMOTE_URL=https://hub.browserstack.com/wd/hub
 DEVICE_NAME=Samsung Galaxy S22
 PLATFORM_NAME=Android
 PLATFORM_VERSION=12.0
 APP=bs://your_app_url_after_upload

 .env.mobile.browserstack.credentials
 BROWSERSTACK_USERNAME=your_browserstack_username
 BROWSERSTACK_ACCESS_KEY=your_browserstack_access_key

 .env.mobile.local_real_device
 REMOTE_URL=http://127.0.0.1:4723
 DEVICE_NAME=your_android_device_name
 PLATFORM_NAME=Android
 AUTOMATION_NAME=UiAutomator2
 APP=resources/apk/your_app.apk