SELENOID_LOGIN=login
SELENOID_PASSWORD=password

BROWSERSTACK_USERNAME=your_browserstack_username
BROWSERSTACK_ACCESS_KEY=your_browserstack_access_key
BROWSERSTACK_APP_URL=bs://your_app_url_after_upload